In [3]:
import os 
import pandas as pd 
import numpy as np 
from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder


## Step 1: Create Sample Dataset

In [4]:
data={
    'age':[19,12,23,21,21,12,45,43,54,23],
    'salary':[10000,110012021,np.nan,123121,344432,np.nan,121212,424,534342,98844],
    'name':['devansh','varad','raj','rohit','devarshi','divyansh','rani','saksham','harshita','ayushi'],
    'department':['cse','cse','mech','mech','cse','cse','mech','cse','cse','mech'],
    'education':['btech','mba','btech','mba','btech','btech','btech','mba','mba','mba']
};
df=pd.DataFrame(data);
df.head()

   age       salary      name department education
0   19      10000.0   devansh        cse     btech
1   12  110012021.0     varad        cse       mba
2   23          NaN       raj       mech     btech
3   21     123121.0     rohit       mech       mba
4   21     344432.0  devarshi        cse     btech

In [5]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder

data = {
    'Age': [28, 34, 41, 29, 52],
    'Income': [55000, 72000, 85000, 48000, 95000],
    'Gender': ['Male', 'Female', 'Female', 'Male', 'Female'],
    'Department': ['IT', 'Marketing', 'Finance', 'HR', 'Engineering']
}

df = pd.DataFrame(data)
print("Original Dataset:\n", df)

scaler = MinMaxScaler()
df['Income_MinMax'] = scaler.fit_transform(df[['Income']])

standard_scaler = StandardScaler()
df['Income_Zscore'] = standard_scaler.fit_transform(df[['Income']])

le = LabelEncoder()
df['Gender_label'] = le.fit_transform(df['Gender'])

df_encoded = pd.get_dummies(df, columns=['Department'])

grouped = df.groupby('Gender')['Income'].mean().reset_index()
print("\nAverage Income by Gender:\n", grouped)

print("\nFinal DataFrame:\n", df_encoded)

Original Dataset:
    Age  Income  Gender   Department
0   28   55000    Male           IT
1   34   72000  Female    Marketing
2   41   85000  Female      Finance
3   29   48000    Male           HR
4   52   95000  Female  Engineering

Average Income by Gender:
    Gender   Income
0  Female  84000.0
1    Male  51500.0

Final DataFrame:
    Age  Income  Gender  Income_MinMax  Income_Zscore  Gender_label  \
0   28   55000    Male       0.148936      -0.906403             1
1   34   72000  Female       0.510638       0.056650             0
2   41   85000  Female       0.787234       0.793102             0
3   29   48000    Male       0.000000      -1.302954             1
4   52   95000  Female       1.000000       1.359604             0

   Department_Engineering  Department_Finance  Department_HR  Department_IT  \
0                   False               False          False           True
1                   False               False          False          False
2                   False                True          False          False
3                   False               False           True          False
4                    True               False          False          False

   Department_Marketing
0                 False
1                  True
2                 False
3                 False
4                 False