In [7]:
import pandas as pd

In [8]:
df1 = pd.read_excel('Global_Superstore_EDA.xlsx', index_col=0)
df1.tail()

,Customer Name,Segment,Country,State,City
Customer ID,,,,,
C003,Bob Smith,Corporate,Canada,Ontario,Toronto
C009,Charlie Brown,Home Office,United Kingdom,England,London
C010,Alice Johnson,Consumer,United States,California,Los Angeles
C011,Bob Smith,Corporate,Canada,Ontario,Toronto
C012,Charlie Brown,Home Office,United Kingdom,England,London